################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/$tf
/.vs
/BuildProcessTemplates
/packages
/groupflytest/bin
/groupflytest/obj/Debug
/WebAppTest/obj/Debug
/WebAppTest/bin
/WebMvcTest1/bin
/WebMvcTest1/obj/Debug
